src/Feedb/Feedb/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="WizardService_submitFeedback_InputMessage">
    <wsdl:part name="parameters" element="tns:submitFeedback" />
  </wsdl:message>
  <wsdl:message name="WizardService_submitFeedback_OutputMessage">
    <wsdl:part name="parameters" element="tns:submitFeedbackResponse" />
  </wsdl:message>
  <wsdl:message name="WizardService_getModuleList_InputMessage">
    <wsdl:part name="parameters" element="tns:getModuleList" />
  </wsdl:message>
  <wsdl:message name="WizardService_getModuleList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getModuleListResponse" />
  </wsdl:message>
  <wsdl:message name="WizardService_getLecturers_InputMessage">
    <wsdl:part name="parameters" element="tns:getLecturers" />
  </wsdl:message>
  <wsdl:message name="WizardService_getLecturers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLecturersResponse" />
  </wsdl:message>
  <wsdl:message name="WizardService_authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:authenticate" />
  </wsdl:message>
  <wsdl:message name="WizardService_authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:authenticateResponse" />
  </wsdl:message>
  <wsdl:portType name="WizardService">
    <wsdl:operation name="submitFeedback">
      <wsdl:input wsaw:Action="http://tempuri.org/WizardService/submitFeedback" message="tns:WizardService_submitFeedback_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/WizardService/submitFeedbackResponse" message="tns:WizardService_submitFeedback_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getModuleList">
      <wsdl:input wsaw:Action="http://tempuri.org/WizardService/getModuleList" message="tns:WizardService_getModuleList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/WizardService/getModuleListResponse" message="tns:WizardService_getModuleList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLecturers">
      <wsdl:input wsaw:Action="http://tempuri.org/WizardService/getLecturers" message="tns:WizardService_getLecturers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/WizardService/getLecturersResponse" message="tns:WizardService_getLecturers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="authenticate">
      <wsdl:input wsaw:Action="http://tempuri.org/WizardService/authenticate" message="tns:WizardService_authenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/WizardService/authenticateResponse" message="tns:WizardService_authenticate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_WizardService" type="tns:WizardService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="submitFeedback">
      <soap:operation soapAction="http://tempuri.org/WizardService/submitFeedback" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getModuleList">
      <soap:operation soapAction="http://tempuri.org/WizardService/getModuleList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLecturers">
      <soap:operation soapAction="http://tempuri.org/WizardService/getLecturers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="authenticate">
      <soap:operation soapAction="http://tempuri.org/WizardService/authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_WizardService" binding="tns:BasicHttpBinding_WizardService">
      <soap:address location="http://localhost/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>